{% extends 'core/base.html' %}

{% block title %}
    {{lead.name}}
{% endblock title %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{lead.name}}</h1>
        
        {% if lead.description %}
            <p class="font-semibold">Name</p>
            <p class="mb-2">{{lead.description}}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="mb-2">{{lead.priority}}</p>

        <p class="font-semibold">Status</p>
        <p class="mb-2">{{lead.status}}</p>

        <p class="font-semibold">Created At</p>
        <p class="mb-2">{{lead.created_at}}</p>

        <p class="font-semibold">Modified At</p>
        <p class="mb-6">{{lead.modified}}</p>

        
        <hr class= "my-4">
        
        <form id="lead_delete_form" method="post" action="{% url 'lead-delete' lead.id %}">
            {% csrf_token %}
        </form>
        
        <a href="{% url 'lead-convert' lead.id %}" class="py-4 px-6 bg-blue-600 rounded-xl text-white">Convert to a Client</a>
        <a href="#" onclick="document.getElementById('lead_delete_form').submit();" class="py-4 px-6 bg-red-600 rounded-xl text-white">Delete</a>
        <a href="{% url 'edit-lead' lead.id %}" class="py-4 px-6 bg-teal-600 rounded-xl text-white">Edit</a>
        
        <hr class= "my-4">
        
        
        <h2 class="mb-6 text-xl">Comments</h2>
        
        <div class="space-y-4">
            {% for comment in lead.comments.all %}
                <div class="bg-gray-100 py-6 px-6 rounded-xl">
                    <p class="mb-2"><strong>{{comment.created_by}}</strong> @ {{comment.created_at}}</p>
                    {{comment.content}}
                </div>
            {% endfor %}
        </div>

        <form action="{% url 'add-comment' lead.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            
            <button class="py-2 px-4 bg-blue-600 rounded-xl text-white">Submit</button>
        </form>

        <hr class="my-4">
            
        <a href="{% url 'leads-list' %}">Back to Leads</a>
        
    </div>
{% endblock content %}